@page "/admin"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Collections.Data
@using Microsoft.AspNetCore.Antiforgery;
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject SignInManager<ApplicationUser> _SignInManager
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _navigationManager
@* @rendermode @(new InteractiveServerRenderMode(false)) *@
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime
@attribute [Authorize(Roles = "Admin")]

<AuthorizeView Roles="Admin">
    <PageTitle>Administrator dashboard</PageTitle>
    @if(ViewUsers.Count < 1)
    {
        <div class="modal modal-backdrop" tabindex="-1"
             style="display:block" role="dialog">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="d-flex modal-body align-items-center justify-content-center">
                        <div class="d-flex align-items-center">
                            <strong class="pe-2">Loading...</strong>
                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-xxl py-3">
            <form method="post" @onsubmit="Submit" @formname="starship-plain-form">
                <div class="d-flex justify-content-start m-0 row col-md
                        row-cols-md-auto gap-1">
                    <button @onclick="SubmitBlockUser"
                            class="btn btn-outline-dark btn-sm text-nowrap"
                            asp-formaction="Block" name="Block"
                            type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                        <i class="bi bi-lock-fill"></i> Block
                    </button>
                    <button @onclick="SubmitUnblockUser"
                            class="btn btn-outline-dark btn-sm text-nowrap"
                            asp-formaction="Unblock"
                            name="Unblock" type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                        <i class="bi bi-unlock-fill"></i> Unblock
                    </button>
                    <button @onclick="SubmitAddToAdmins"
                            class="btn btn-outline-dark btn-sm text-nowrap"
                            asp-formaction="AddToAdmins"
                            name="AddToAdmins" type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                        <i class="bi bi-person-fill-add"></i> Add to admins
                    </button>
                    <button @onclick="SubmitRemoveFromAdmins"
                            class="btn btn-outline-dark btn-sm text-nowrap"
                            asp-formaction="RemoveFromAdmins"
                            name="RemoveFromAdmins" type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                        <i class="bi bi-person-fill-dash"></i> Remove from admins
                    </button>
                    <button @onclick="SubmitDeleteUser"
                            class="btn btn-danger btn-sm text-nowrap"
                            asp-formaction="Delete" name="Delete"
                            type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </div>
                <div class="d-flex pt-3">
                    <table class="table table-sm table-hover table-striped table-bordered
                              rounded-2 overflow-hidden" style="box-shadow: rgba(0,0,0,0.19) 0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px;">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">
                                    <div class="form-check">
                                        <input type="checkbox" onClick="toggle(this)"
                                               @ref="InputToToggle"
                                               @onchange="SelectAll"
                                               value="" id="flexCheckDefault">
                                    </div>
                                </th>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">E-mail</th>
                                <th scope="col" class="text-end">
                                    Last login time (UTC)
                                </th>
                                <th scope="col" class="text-end">
                                    Registration time (UTC)
                                </th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewUsers)
                            {
                                @if(item.Role == "ToRemove")
                                {
                                    
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" name="row"
                                                       @bind="@item.IsChecked" />
                                            </div>
                                        </td>
                                        @if (@item.Status == "Blocked")
                                        {
                                            <th scope="row"
                                                class="text-secondary text-opacity-50">
                                                @(item.Id)
                                            </th>
                                            <td class="text-secondary text-opacity-50">
                                                @item.Name
                                            </td>
                                            <td class="text-secondary text-opacity-50">
                                                @item.Email
                                            </td>
                                            <td class="text-secondary text-opacity-50
                                               text-end">
                                                @item.LastLoginDate
                                            </td>
                                            <td class="text-secondary text-opacity-50
                                               text-end">
                                                @item.RegistrationDate
                                            </td>

                                            @if (item.Role == "Admin")
                                            {
                                                <td class="text-secondary
                                                   text-opacity-50 text-start">
                                                    Admin
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-secondary
                                                   text-opacity-50 text-start">
                                                    Regular User
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <th scope="row">@(item.Id)</th>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td class="text-end">
                                                @item.LastLoginDate
                                            </td>
                                            <td class="text-end">
                                                @item.RegistrationDate
                                            </td>
                                            @if (item.Role == "Admin")
                                            {
                                                <td class="text-start">
                                                    Admin
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-start">
                                                    Regular User
                                                </td>
                                            }
                                        }

                                        @if (@item.Status == "Blocked")
                                        {
                                            <td class="text-danger text-start">
                                                Blocked
                                            </td>
                                        }
                                        else if (true == true)
                                        {
                                            <td class="text-success text-start">
                                                Active
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                @if (SubmitRequested)
                {
                    <div class="modal modal-backdrop" tabindex="-1"
                         style="display:block" role="dialog">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                            <div class="modal-content">
                                <div class="d-flex modal-body align-items-center justify-content-center">
                                    <div class="d-flex align-items-center">
                                        <strong class="pe-2">Loading...</strong>
                                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
                <AntiforgeryToken />
            </form>
        </div>
    }
</AuthorizeView>