@page "/all"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject SignInManager<ApplicationUser> _SignInManager
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _navigationManager
@inject IDbContextFactory<ApplicationDbContext> _contextFactory
@using System.ComponentModel.DataAnnotations
@inject ILogger<CollectionsPage> Logger

@rendermode InteractiveServer

<PageTitle>All Collections</PageTitle>

<div class="container-xxl py-3 ">
    @if (collections is not null)
    {
        <h3 class="text-center pb-3">All Collections</h3>
        <div class="d-flex justify-content-center" style="overflow-y:scroll; max-height: 75vh">
            <table class="table table-sm table-hover table-striped table-bordered
                              rounded-2 overflow-hidden" style="box-shadow: rgba(0,0,0,0.19) 0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px;">
                <thead class="table-secondary">
                    <tr>
                        <th class="text-end px-2">#</th>
                        <th class="px-2">Name</th>
                        <th class="px-2">Theme</th>
                        <th class="text-end px-2">Total Items</th>
                        <th class="px-2">Link</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int j = 1;
                        <Virtualize Items="@collections" Context="collection">
                            <ItemContent>
                                <tr>
                                    <th class="text-end px-2">@(j++)</th>
                                    <td class="px-2">@collection.Name</td>
                                    <td class="px-2">@collection.Theme!.Name</td>
                                    <td class="text-end px-2">@collection.TotalItems</td>
                                    <td class="px-2">
                                        <a class="btn-sm btn-outline-secondary"
                                           href="/collection-details/@collection.Id">Details</a>

                                    </td>
                                </tr>
                            </ItemContent>
                            <Placeholder>
                                <p>
                                    Loading&hellip;
                                </p>
                            </Placeholder>
                            <EmptyContent>
                                <p>
                                    There are no records to display.
                                </p>
                            </EmptyContent>
                        </Virtualize>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Loading...</p>
    }
</div>
