@page "/collections"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject SignInManager<ApplicationUser> _SignInManager
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _navigationManager
@inject IDbContextFactory<ApplicationDbContext> _contextFactory
@using System.ComponentModel.DataAnnotations
@inject ILogger<CollectionsPage> Logger
@inject IBlobService _blobService
@inject IFileTransferManager _fileTransferManager
@inject IConfiguration _configuration
@inject IStringLocalizer<Resource> localizer

@* @rendermode InteractiveServer *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>@localizer["My Collections"]</PageTitle>

<AuthorizeView>
    <div class="container-xxl py-3 ">

        @if (!newCollectionRequested)
        {
            <h3 class="text-center pb-3">@localizer["My Collections"]</h3>
            @if (collections is not null && collections.Count == 0)
            {
                <p>@localizer["You don't have any collection yet,"] </p>
                <p>@localizer["but you are welcome to add as many as you wish!"]</p>
            }
            <div class="pb-2 d-flex justify-content-start m-0 row col-md
                        row-cols-md-auto gap-1">
                <button @onclick="RequestNewCollection"
                        class="btn btn-success btn-sm text-nowrap"
                        asp-formaction="Block" name="Block"
                        type="submit" value="true" 
                        style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                    <i class="bi bi-plus-square"></i> @localizer["New Collection"]
                </button>
            </div>
        }

        @if (newCollectionRequested)
        {
            <div class="d-flex justify-content-center py-5">
                <div class="card main-card mb-3"
                     style=" box-shadow: rgba(0,0,0,0.25) 0px 20px 30px, rgba(0,0,0,0.32) 0px 12px 12px;">
                    <div class="row g-0">
                        @if (string.IsNullOrWhiteSpace(TempImg))
                        {

                            <div class="col-md-4">
                                <canvas class="img-fluid h-100 rounded-start" 
                                style="background-color: lightgray;  object-fit:cover;" />
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                <img src="@TempImg" class="img-fluid h-100 rounded-start" 
                                style="background-color: lightgray;  object-fit:cover;" alt="...">
                            </div>
                        }
                        <div class="col-md-8">
                            <EditForm Context="formContext" Model="@Model" OnValidSubmit="@SubmitNewCollectionForm" FormName="NewCollectionForm">
                                <div class="card-body">
                                    <h5 class="card-title">@localizer["Create New Collection"]</h5>                                    
                                    <div class="px-5 py-2">
                                        @if (!addNewThemeRequested)
                                        {
                                            <DataAnnotationsValidator />
                                            <ValidationSummary />
                                            <InputText @bind-Value="Model!.Name" type="text" required
            class= "input-group-text search-input input-group-lg w-100 my-2" placeholder = "@localizer["Collection Name..."]" />
                                            <InputTextArea @bind-Value="Model.Description" required type="text"
            class= "text-start search-input input-group-text input-group-lg w-100 my-2" placeholder = "@localizer["Collection New Description"]" />
                                            @* <InputText @bind-Value="TempImg" class="input-group-text input-group-lg w-100 my-2" placeholder="Link to collection photo (optional)..." /> *@
                                            @if (!string.IsNullOrWhiteSpace(FileError))
                                            {
                                                <div class="alert alert-warning d-flex align-items-center" role="alert">
                                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="@localizer["Warning"]":"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                                    <div>
                                                        @FileError
                                                    </div>
                                                </div>
                                            }
                                            @if (Model is not null)
                                            {
                                                <InputFile OnChange="UploadFile" class="form-control search-input my-2" type="file" id="formFile" 
                                                accept=".png,.jpg,.jpeg,.tiff" />
                                            }
                                            <div class="row row-cols-1 row-cols-md-auto">
                                                <div class="flex-fill pe-md-0 mx-0">

                                                    <InputText @bind-Value="ThemeNameChoosen" required class="form-control search-input"
                                                               list="datalistOptions" id="exampleDataList" placeholder="@localizer["Theme..."]" />
                                                    <datalist id="datalistOptions">
                                                        @foreach (var t in Themes)
                                                        {
                                                            <option value="@t.Name"></option>
                                                        }
                                                    </datalist>
                                                </div>
                                                <div class="mx-0 my-2 ps-md-2 my-md-0">
                                                    <button @onclick="RequestNewTheme"
                                                            class="btn btn-secondary text-nowrap"
                                                            asp-formaction="Block" name="Block"
                                                            type="button" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                        <i class="bi bi-plus-square"></i> @localizer["Add Theme"]
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="card main-card" style="border: solid; border-color: #999999; border-radius: 5px;" >
                                                <div class="card-header">
                                                    @localizer["New category"]
                                                </div>
                                                <div class="card-body">
                                                    @if (!newThemeAddFinishedSuccessfully)
                                                    {
                                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                            <div>
                                                                @localizer["This category already exists"]
                                                            </div>
                                                            <div>
                                                                <button @onclick="ResetNewTHemeAddFinishedSuccessfullyStatus" type="button" 
                                                                class="btn-close" data-dismiss="alert" aria-label="Close">
                                                                </button>
                                                            </div>
                                                        </div>
                                                    }
                                                    <input type="text" @bind="NewTheme" class="form-control search-input mt-3"
                                                           placeholder="@localizer["Enter new collection category..."]">
                                                    <div class="d-flex justify-content-end me-0 ms-0 mt-3 mb-0 row col-md
                                 row-cols-md-auto gap-1">
                                                        <button @onclick="RequestNewTheme"
                                                                class="btn btn-secondary text-nowrap"
                                                                asp-formaction="Block" name="Block"
                                                                type="button" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                            <i class="bi bi-x-square-fill"></i> @localizer["Cancel"]
                                                        </button>
                                                        <button @onclick="SubmitNewTheme"
                                                                class="btn btn-success text-nowrap"
                                                                type="button" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                            <i class="bi bi-plus-square"></i> @localizer["Add"]
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div>

                                    <div class="pb-2 pe-3 ps-3 d-flex justify-content-end m-3 row col-md
                                 row-cols-md-auto gap-1">
                                        <button @onclick="RequestNewCollection"
                                                class="btn btn-secondary text-nowrap"
                                                asp-formaction="Block" name="Block"
                                                type="button" value="true" 
                                                style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                            <i class="bi bi-x-square-fill"></i> @localizer["Close"]
                                        </button>
                                        @if (addNewThemeRequested || string.IsNullOrWhiteSpace(ThemeNameChoosen) || !Themes.Exists(x => x.Name == ThemeNameChoosen))
                                        {
                                            <button class="btn btn-success text-nowrap"
                                                    type="submit" value="true" disabled style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                <i class="bi bi-plus-square"></i> @localizer["Create"]
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-success text-nowrap"
                                                    type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                <i class="bi bi-plus-square"></i> @localizer["Create"]
                                            </button>
                                        }
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (collections is null)
        {
            <p>@localizer["Loading..."]</p>
        }
        else if (collections.Count > 0)
        {
            <div class="d-flex justify-content-center">
                <table class="table table-sm table-hover table-striped
                              rounded-2 overflow-hidden">
                    <thead class="table-secondary">
                        <tr>
                            <th class="text-end px-2">@localizer["#"]</th>
                            <th class="px-2">@localizer["Name"]</th>
                            <th class="px-2">@localizer["Theme"]</th>
                            <th class="text-end px-2">@localizer["Total Items"]</th>
                            <th class="px-2">@localizer["Link"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 1;
                            foreach (Collection collection in collections)
                            {
                                <tr>
                                    <td class="text-end px-2">@(j++)</td>
                                    <td class="px-2">@collection.Name</td>
                                    <td class="px-2">@collection.Theme!.Name</td>
                                    <td class="text-end px-2">@collection.Items.Count</td>
                                    <td class="px-2">
                                        <a class="btn-sm btn-secondary"
                                           href="/collection-details/@collection.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</AuthorizeView>
