@page "/"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject SignInManager<ApplicationUser> _SignInManager
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _navigationManager
@inject IDbContextFactory<ApplicationDbContext> _contextFactory
@inject IStringLocalizer<Resource> localizer

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>@localizer["Collections home page"]</PageTitle>
    <div class="container-xxl py-3 text-between ">
        @if (collections is not null)
    {
        <div class="row align-items-start row-cols-1 row-cols-md-2 ">
            <div class="col-md-9 order-md-first order-last">
                <h5>@localizer["Recently added Items"]</h5>
                <table class="table table-sm table-hover table-striped
                              rounded-2 overflow-hidden">
                    <thead class="table-secondary">
                        <tr>
                            <th class="text-end px-2">@localizer["#"]</th>
                            <th class="px-2">@localizer["Name"]</th>
                            <th class="px-2">@localizer["Collection"]</th>
                            <th class="px-2">@localizer["Author"]</th>
                            <th class="text-end px-2">@localizer["Added"]</th>
                            <th class="px-2">@localizer["Link"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (Item item in items)
                            {
                                <tr>
                                    <td class="text-end px-2">@(i++)</td>
                                    <td class="px-2">@item.Name</td>
                                    <td class="px-2">@item.Collection.Name</td>
                                    <td class="px-2">
                                        @GetAuthor(item.Collection)
                                    </td>
                                    <td class="text-end px-2">
                                        @item.CreationDateTime
                                    </td>
                                    <td class="px-2">
                                        <a class="btn-sm btn-outline-secondary"
                                           href="/item-details/@item.Collection.Id/@item.Id">
                                            @localizer["Details"]
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex col-md-3 order-first order-md-first text-start
                        align-items-center my-auto pb-3 pt-4"
                 style="min-height: 100%">
                <div class="justify-content-center align-items-center my-auto">
                    <div class="card main-card collection-card-shadow"
                         style="width: auto;">
                        <div class="card-body ">
                            <h5 class="card-title">
                                @localizer["Welcome to the Collections!"]
                            </h5>
                            <p class="card-text">
                                @localizer["Here you can enjoy your digital collection, leave comments, collect expressions and likes."]
                                <br />
                                @localizer["Sign Up now and create your first digital collection!"]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-9 ">
                <h5>@localizer["Top 5 collections"]</h5>
                <table class="table table-sm table-hover table-striped
                              rounded-2 overflow-hidden">
                    <thead class="table-secondary">
                        <tr>
                            <th class="text-end px-2">@localizer["#"]</th>
                            <th class="px-2">@localizer["Name"]</th>
                            <th class="px-2">@localizer["Theme"]</th>
                            <th class="text-end px-2">
                                @localizer["Total Items"]
                            </th>
                            <th class="px-2">@localizer["Link"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 1;
                            foreach (Collection collection in collections)
                            {
                                <tr>
                                    <td class="text-end px-2">@(j++)</td>
                                    <td class="px-2">@collection.Name</td>
                                    <td class="px-2">
                                        @collection.Theme!.Name
                                    </td>
                                    <td class="text-end px-2">
                                        @collection.TotalItems
                                    </td>
                                    <td class="px-2">
                                        <a class="btn-sm btn-outline-secondary"
                                           href="/collection-details/@collection.Id">
                                            @localizer["Details"]
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex col-md-3 pt-3 text-start
                        align-items-center
                        justify-content-center my-auto">
                <div class="d-flex ">
                    <div class="flex-shrink-0 rounded-2
                                collection-card-shadow">
                        <WordCloud WordsImport="WordsToShow" />
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>@localizer["Loading..."]</p>
    }
</div>
