@page "/item-details/{collectionId:int}/{id:int}"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Configuration;
@inject UserManager<ApplicationUser> _userManager
@inject RoleManager<IdentityRole> _RoleManager
@inject SignInManager<ApplicationUser> _SignInManager
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _navigationManager
@inject IJSRuntime JsRuntime
@inject IDbContextFactory<ApplicationDbContext> _contextFactory
@inject IBlobService _blobService
@inject IConfiguration _configuration
@inject IFileTransferManager _fileTransferManager

@rendermode InteractiveServer

@if (CurrentItem is null || ItemModel is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>@CurrentItem.Name</PageTitle>
    <!--Page banner-->
    <div class="hero-bg" style="@($"--bg-img: url({CurrentItem.ImageLink})")">
        <div class="hero-container">
            <div class="container-xxl d-flex flex-column flex-md-row">
                <!--Item content here-->
                @if (!(editItemRequested || deleteItemRequested || editPhotoRequested))
                {
                    <div class="flex-grow-1 d-flex align-items-center
                    justify-content-center justify-content-md-end">
                        <div class="title-container text-center text-md-end">
                            <h1 class="text-light" style="text-shadow: 1px 1px #000000;">@CurrentItem.Name</h1>
                            <h2 class="text-dark" style="text-shadow: 1px 1px #FFFFFF;">@GetAuthor()</h2>
                            <div class="pt-3 d-flex justify-content-md-end justify-content-center">
                                <AuthorizeView>
                                    @if (ItemModel is not null)
                                    {
                                        <div class="row row-cols-1 row-cols-md-2 my-2 d-flex justify-content-md-end">
                                            <div class="pe-md-0 mx-0">
                                                <InputText @bind-Value="NewTag" requred list="datalistOptions" id="exampleDataList" class="input-group-text input-group-lg w-100" placeholder="Tags..." />
                                                <datalist id="datalistOptions">
                                                    @foreach (var t in Tags)
                                                    {
                                                        <option value="@t.Name">
                                                            @t.Name
                                                        </option>
                                                    }
                                                </datalist>
                                            </div>
                                            <div class="mx-0 my-1 ps-md-2 my-md-0 d-flex row col-md-auto">
                                                <button @onclick="SubmitAddTag"
                                                        class="btn btn-dark text-nowrap"
                                                        asp-formaction="Block" name="Block"
                                                        type="button" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                    <i class="bi bi-plus-square"></i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </AuthorizeView>
                            </div>
                            <div class="pt-3">
                                <a href="/collection-details/@CurrentItem.Collection.Id">
                                    <span class="badge text-bg-dark">collection: @CurrentItem.Collection.Name</span>
                                </a>
                            </div>
                            <div class="pt-3">
                                @if (Tags.Count == 0)
                                {
                                    <span class="badge text-bg-success">
                                        No tags so far...
                                    </span>
                                }
                                else
                                {
                                    @foreach (var t in CurrentItem.Tags)
                                    {
                                        <AuthorizeView>
                                            <Authorized>
                                                <button class="badge text-bg-success ms-1" style="border: none;" type="button" disabled @onclick="() => SubmitRemoveTag(t.Id)">
                                                    @t.Name
                                                </button>
                                            </Authorized>
                                            <NotAuthorized>
                                                <button class="badge text-bg-success ms-1" style="border: none;" type="button">
                                                    @t.Name
                                                </button>
                                            </NotAuthorized>
                                        </AuthorizeView>
                                    }
                                }
                            </div>
                            <div class="pt-3">
                                <AuthorizeView>
                                    <Authorized>

                                        <button @onclick="ProcessLikeRequest" class="badge btn text-bg-danger">
                                            <i class="bi bi-hand-thumbs-up"></i> @LikeCount
                                        </button>
                                    </Authorized>
                                    <NotAuthorized>
                                        <button style="pointer-events: none;" class="badge btn text-bg-danger">
                                            <i class="bi bi-hand-thumbs-up"></i> @LikeCount
                                        </button>
                                    </NotAuthorized>
                                </AuthorizeView>
                            </div>
                            <AuthorizeView>
                                <div class="pt-3">
                                    <button @onclick="Focus"
                                            class="btn btn-dark btn-sm text-nowrap"
                                            asp-formaction="Block" name="Block"
                                            type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                        <i class="bi bi-chat-left-text"></i> Leave Comment
                                    </button>
                                </div>
                            </AuthorizeView>
                        </div>
                    </div>
                    <div class="order-last order-md-first d-flex
                    justify-content-center">
                        <div class="poster-container">
                            @if (!string.IsNullOrEmpty(CurrentItem.ImageLink))
                            {
                                <a href="@ItemModel!.ImageLink">
                                    <img src="@CurrentItem.ImageLink"
                                         alt="item poster" />
                                </a>
                            }
                            else
                            {
                                <div class="w-100 h-100 rounded-3 text-center align-items-center d-flex justify-content-center" style="min-width: 12rem; min-height: 24rem; user-select: none; background-image: linear-gradient(10deg, #d1d1d1, #ffffff); ">There is no image<br />for this item yet...</div>

                            }
                        </div>
                    </div>
                }
                <AuthorizeView>
                    <div class="order-last order-md-first d-flex
                    justify-content-center">
                        @if (editItemRequested && !deleteItemRequested && !editPhotoRequested)
                        {
                            <div class="poster-container2 py-2 ">
                                <div class="card w-100 mb-3" style=" box-shadow: rgba(0,0,0,0.25) 0px 20px 30px, rgba(0,0,0,0.32) 0px 12px 12px;">
                                    <div class="row g-0">
                                        @if (string.IsNullOrWhiteSpace(ItemModel!.ImageLink))
                                        {
                                            <div class="col-md-4">
                                                <canvas class="img-fluid h-100 rounded-start" style="background-color: lightgray; object-fit:cover;" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-4">
                                                <img src="@TempImg" class="img-fluid h-100 rounded-start" style="background-color: lightgray;  object-fit:cover;" alt="...">
                                            </div>
                                        }
                                        <div class="col-md-8">
                                            <h5 class="card-header">Edit Item: @ItemModel!.Name</h5>
                                            <EditForm Context="formContext2" Model="@ItemModel" OnSubmit="@SubmitEditItem" FormName="EditCollectionForm">
                                                <div class="card-body">
                                                    <p class="card-text"><small class="text-muted">Created @ItemModel!.CreationDateTime.ToLocalTime()</small></p>
                                                    <div class="px-5 py-2">

                                                        @if (ItemModel is not null)
                                                        {

                                                            <DataAnnotationsValidator />
                                                            <ValidationSummary />
                                                            <InputText @bind-Value="ItemModel!.Name" type="text" class="input-group-text input-group-lg my-2 w-100" placeholder="Item New Name..." />
                                                            @if (ItemModel.NumericalFields.Count > 0)
                                                            {
                                                                <ul class="list-group custom-field">
                                                                    @foreach (var item in ItemModel.NumericalFields)
                                                                    {
                                                                        <li class="list-group-item">
                                                                            <div class="d-flex row row-cols-md-auto">
                                                                                <div class="p-2"><input type="text" class="form-control" @bind="@item.Name" placeholder="Numerical field name..." /></div>
                                                                                <div class="p-2 flex-fill"><input type="text" class="form-control" placeholder="Numerical field value..." @bind="@item.Value" /></div>
                                                                            </div>

                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                            @if (ItemModel.StringFields.Count > 0)
                                                            {
                                                                <ul class="list-group custom-field">
                                                                    @foreach (var item in ItemModel.StringFields)
                                                                    {
                                                                        <li class="list-group-item">
                                                                            <div class="d-flex row row-cols-md-auto">
                                                                                <div class="p-2"><input type="text" class="form-control" @bind="@item.Name" placeholder="String field name..." /></div>
                                                                                <div class="p-2 flex-fill"><input type="text" class="form-control" placeholder="String field value..." @bind="@item.Value" /></div>
                                                                            </div>

                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                            @if (ItemModel.TextFields.Count > 0)
                                                            {
                                                                <ul class="list-group custom-field">
                                                                    @foreach (var item in ItemModel.TextFields)
                                                                    {
                                                                        <li class="list-group-item">
                                                                            <input type="text" for="exampleFormControlTextarea1" class="form-control mb-1" @bind="@item.Name">
                                                                            <textarea class="form-control" id="exampleFormControlTextarea1" @bind="@item.Value" rows="3"></textarea>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                            @if (ItemModel.LogicalFields.Count > 0)
                                                            {
                                                                <ul class="list-group custom-field">
                                                                    @foreach (var item in ItemModel.LogicalFields)
                                                                    {
                                                                        <li class="list-group-item row-cols-2 d-flex align-items-center">
                                                                            <span class="form-check col-auto form-switch">
                                                                                <input class="form-check-input" @bind="item.Value" type="checkbox" id="flexSwitchCheckDefault" />
                                                                            </span>
                                                                            <input type="text" class="flex-fill form-control" @bind="@item.Name" placeholder="Logical field name..." />
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                            @if (ItemModel.DateFields.Count > 0)
                                                            {
                                                                <ul class="list-group custom-field">
                                                                    @foreach (var item in ItemModel.DateFields)
                                                                    {
                                                                        <li class="list-group-item">
                                                                            <div class="d-flex row row-cols-md-auto">
                                                                                <div class="p-2 flex-fill "><input type="text" class="form-control" @bind="@item.Name" placeholder="Logical field name..." /></div>
                                                                                <div class="p-2 "><input type="date" class="form-control w-md-auto" @bind="@item.Value" /></div>
                                                                            </div>

                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                <div class="pb-2 pe-3 mx-0 d-flex justify-content-end row col-md
                                                        row-cols-md-auto gap-1 card-footer">
                                                    <button @onclick="CancelEditItem"
                                                            class="btn btn-outline-secondary text-nowrap"
                                                            asp-formaction="Block" name="Block"
                                                            type="button" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                        <i class="bi bi-plus-square"></i> Cancel
                                                    </button>
                                                    @if (ItemModel!.Name == CurrentItem.Name)
                                                    {
                                                        <button class="btn btn-outline-success text-nowrap"
                                                                type="submit" disabled value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                            <i class="bi bi-plus-square"></i> Update
                                                        </button>
                                                    }
                                                    else
                                                    {

                                                        <button class="btn btn-outline-success text-nowrap"
                                                                type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                            <i class="bi bi-plus-square"></i> Update
                                                        </button>
                                                    }
                                                </div>
                                            </EditForm>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (editPhotoRequested && !editItemRequested && !deleteItemRequested)
                        {
                            <div class="poster-container2 py-2 ">
                                <div class="card w-100 mb-3" style=" box-shadow: rgba(0,0,0,0.25) 0px 20px 30px, rgba(0,0,0,0.32) 0px 12px 12px;">
                                    <div class="row g-0">
                                        @if (string.IsNullOrWhiteSpace(TempImg))
                                        {
                                            <div class="col-md-4">
                                                <canvas class="img-fluid h-100 rounded-start" style="background-color: lightgray; object-fit:cover;" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-4">
                                                <img src="@TempImg" class="img-fluid h-100 rounded-start" style="background-color: lightgray;  object-fit:cover;" alt="...">
                                            </div>
                                        }
                                        <div class="col-md-8">
                                            <h5 class="card-header">Edit Photo</h5>
                                            <EditForm Context="formContextImage" Model="@ItemModel" OnSubmit="@SubmitEditPhoto" FormName="EditImageForm">
                                                <div class="card-body">
                                                    <div class="px-5 py-2">
                                                        @if (!string.IsNullOrWhiteSpace(FileError))
                                                        {
                                                            <div class="alert alert-warning d-flex align-items-center" role="alert">
                                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                                                <div>
                                                                    @FileError.
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (ItemModel is not null)
                                                        {
                                                            <InputFile OnChange="UploadFile" class="form-control my-2" type="file" id="formFile" accept=".png,.jpg,.jpeg,.tiff" />
                                                        }
                                                    </div>
                                                </div>
                                                <div class="pb-2 pe-3 mx-0 d-flex justify-content-end row col-md
                                 row-cols-md-auto gap-1 card-footer">
                                                    <button @onclick="ToggleEditPhotoRequestStatus"
                                                            class="btn btn-outline-secondary text-nowrap"
                                                            asp-formaction="Block" name="Block"
                                                            type="button" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                        <i class="bi bi-plus-square"></i> Cancel
                                                    </button>
                                                    @if (UploadedFileName is null || !string.IsNullOrWhiteSpace(FileError))
                                                    {
                                                        <button class="btn btn-outline-success text-nowrap"
                                                                type="submit" disabled value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                            <i class="bi bi-plus-square"></i> Update
                                                        </button>
                                                    }
                                                    else
                                                    {

                                                        <button class="btn btn-outline-success text-nowrap"
                                                                type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                            <i class="bi bi-plus-square"></i> Update
                                                        </button>
                                                    }
                                                </div>
                                            </EditForm>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (deleteItemRequested && !editItemRequested && !editPhotoRequested)
                        {
                            <div class="poster-container2 py-2 ">
                                <div class="card w-100 mb-3" style=" box-shadow: rgba(0,0,0,0.25) 0px 20px 30px, rgba(0,0,0,0.32) 0px 12px 12px;">
                                    <div class="row g-0">
                                        @if (string.IsNullOrWhiteSpace(ItemModel!.ImageLink))
                                        {
                                            <div class="col-md-4">
                                                <canvas class="img-fluid h-100 rounded-start" style="background-color: lightgray; object-fit:cover;" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-4">
                                                <img src="@ItemModel.ImageLink" class="img-fluid h-100 rounded-start" style="background-color: lightgray;  object-fit:cover;" alt="...">
                                            </div>
                                        }
                                        <div class="col-md-8">
                                            <h5 class="card-header">Delete Item</h5>
                                            <div class="card-body">
                                                <p class="card-text">@ItemModel.Name</p>
                                                <p class="card-text"><small class="text-muted">Created @ItemModel.CreationDateTime.ToLocalTime()</small></p>
                                                <div class="px-5 py-2">
                                                    <p>This action can not be undone</p>
                                                    <p>Are you sure you want to delete the item?</p>
                                                </div>
                                            </div>
                                            <div class="pb-2 pe-3 mx-0 d-flex justify-content-end row col-md
                                 row-cols-md-auto gap-1 card-footer">
                                                <button @onclick="ToggleDeleteItemRequestStatus"
                                                        class="btn btn-outline-secondary text-nowrap"
                                                        asp-formaction="Block" name="Block"
                                                        type="button" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                    <i class="bi bi-plus-square"></i> Cancel
                                                </button>
                                                <button @onclick="SubmitDeleteItem"
                                                        class="btn btn-outline-danger text-nowrap"
                                                        type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                    <i class="bi bi-plus-square"></i> Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </AuthorizeView>
            </div>
        </div>
    </div>
    <div class="container-xxl">


        <div class="header-container pb-3 ">
            @if (!(editItemRequested || deleteItemRequested || editPhotoRequested))
            {
                <div class="overview d-flex flex-column">
                    <h3 class="text-dark">@CurrentItem.Name</h3>
                    <h5 class="text-secondary">Author: @GetAuthor()</h5>

                    <AuthorizeView>
                        @if (!(editItemRequested || deleteItemRequested || editPhotoRequested))
                        {
                            <div class="pb-2 d-flex justify-content-start m-0 row col-md
                        row-cols-md-auto gap-1">
                                <button @onclick="ToggleEditItemRequestStatus"
                                        class="btn btn-outline-secondary btn-sm text-nowrap"
                                        asp-formaction="Block" name="Block"
                                        type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                    <i class="bi bi-pencil"></i> Edit Item
                                </button>
                                <button @onclick="ToggleEditPhotoRequestStatus"
                                        class="btn btn-outline-dark btn-sm text-nowrap"
                                        asp-formaction="Block" name="Block"
                                        type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                    <i class="bi bi-pencil"></i> Edit Image
                                </button>
                                <button @onclick="ToggleDeleteItemRequestStatus"
                                        class="btn btn-outline-danger btn-sm text-nowrap"
                                        asp-formaction="Block" name="Block"
                                        type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                    <i class="bi bi-trash3-fill"></i> Delete Item
                                </button>
                            </div>
                        }
                    </AuthorizeView>
                </div>
            }

        </div>
        @if (!(editItemRequested || deleteItemRequested || editPhotoRequested))
        {
            <AuthorizeView>
                <Authorized>
                    <div class="d-flex flex-column flex-lg-col
                        justify-content-between my-3">

                        <div class="comment-container pb-3 ">
                            <div class="row justify-content-center example pb-3">
                                <div class="row row-cols-8 row-cols-lg-8
                                            row-cols-x1-5 g-3
                                justify-content-center my-1" style="width: 90%;">

                                    @if (CurrentItem.NumericalFields.Count > 0)
                                    {
                                        <ul class="list-group custom-field">
                                            @foreach (var item in CurrentItem.NumericalFields)
                                            {
                                                <li class="list-group-item">@(item.Name): @item.Value</li>
                                            }
                                        </ul>
                                    }
                                    @if (CurrentItem.StringFields.Count > 0)
                                    {
                                        <ul class="list-group custom-field">
                                            @foreach (var item in CurrentItem.StringFields)
                                            {
                                                <li class="list-group-item">@(item.Name): @item.Value</li>
                                            }
                                        </ul>
                                    }
                                    @if (CurrentItem.TextFields.Count > 0)
                                    {
                                        <ul class="list-group custom-field">
                                            @foreach (var item in CurrentItem.TextFields)
                                            {
                                                <li class="list-group-item">

                                                    <label for="exampleFormControlTextarea1" class="form-label">@(item.Name):</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">@item.Value</textarea>
                                                </li>
                                            }
                                        </ul>
                                    }
                                    @if (CurrentItem.LogicalFields.Count > 0)
                                    {
                                        <ul class="list-group custom-field">
                                            @foreach (var item in CurrentItem.LogicalFields)
                                            {
                                                <li class="list-group-item">@(item.Name): @item.Value.ToString()</li>
                                            }
                                        </ul>
                                    }
                                    @if (CurrentItem.DateFields.Count > 0)
                                    {
                                        <ul class="list-group custom-field">
                                            @foreach (var item in CurrentItem.DateFields)
                                            {
                                                <li class="list-group-item">@(item.Name): @item.Value.ToString()</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                            <div class="row justify-content-center example py-2">
                                <div class="row row-cols-8 row-cols-lg-8
                                            row-cols-x1-5 g-3
                                justify-content-center my-1" style="width: 75%;">
                                    <hr />
                                </div>
                            </div>
                            @if (CurrentItem.Comments.Count != 0)
                            {
                                <div class="row justify-content-center example pb-3"
                                     style="overflow-y:scroll; max-height: 100vh;">
                                    <Virtualize Items="@Comments" Context="comment">
                                        <ItemContent>
                                            <div class="row row-cols-8 row-cols-lg-8
                                            row-cols-x1-5 g-3
                                justify-content-center my-1">
                                                <CommentCard Comment="comment" />
                                            </div>
                                        </ItemContent>
                                        <Placeholder>
                                            <p>
                                                Loading&hellip;
                                            </p>
                                        </Placeholder>
                                        <EmptyContent>
                                            <p>
                                                There are no records to display.
                                            </p>
                                        </EmptyContent>
                                    </Virtualize>
                                </div>
                            }
                            <div class="row row-cols-8 row-cols-lg-8
                                        row-cols-x1-5 g-3
                                        justify-content-center my-1 py-2">
                                <div class="card h-100 fade-in"
                                     style="max-height: 100%; max-width: 90%; box-shadow: rgba(0,0,0,0.19) 0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px;">
                                    <div class="card-body ">
                                        <textarea @ref="inputToFocus" class="form-control"
                                                  @bind="CommentText"
                                                  required
                                                  placeholder="Enter your comment..."
                                                  aria-label="With textarea">
                                                                                                                        </textarea>
                                    </div>
                                    <div class="text-end pb-3 pe-2">
                                        @if (CommentText is null)
                                        {

                                            <button @onclick="Focus"
                                                    class="btn btn-outline-secondary btn-sm text-nowrap"
                                                    asp-formaction="Block" name="Block"
                                                    type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                <i class="bi bi-chat-left-text"></i> Leave Comment
                                            </button>
                                        }
                                        else
                                        {
                                            <button @onclick="SubmitComment"
                                                    class="btn btn-outline-secondary btn-sm text-nowrap"
                                                    asp-formaction="Block" name="Block"
                                                    type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                                <i class="bi bi-chat-left-text"></i> Leave Comment
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="comment-overview d-flex flex-column flex-lg-col
                        justify-content-between my-3">
                        <div class="comment-container pb-3 ">
                            @if (CurrentItem.Comments.Count != 0)
                            {
                                <div class="row justify-content-center example pb-3"
                                     style="overflow-y:scroll; max-height: 50vh;">
                                    <Virtualize Items="@Comments" Context="comment">
                                        <ItemContent>
                                            <div class="row row-cols-8 row-cols-lg-8
                                            row-cols-x1-5 g-3
                                justify-content-center my-1">
                                                <CommentCard Comment="comment" />
                                            </div>
                                        </ItemContent>
                                        <Placeholder>
                                            <p>
                                                Loading&hellip;
                                            </p>
                                        </Placeholder>
                                        <EmptyContent>
                                            <p>
                                                There are no records to display.
                                            </p>
                                        </EmptyContent>
                                    </Virtualize>
                                </div>
                            }
                            <div class="row row-cols-8 row-cols-lg-8
                                        row-cols-x1-5 g-3
                                        justify-content-center my-1 py-2">
                                <div class="card h-100 fade-in"
                                     style="max-height: 100%; max-width: 90%; box-shadow: rgba(0,0,0,0.19) 0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px;
                                                                                                                                                                                    ">
                                    <div class="card-body text-center">
                                        <p>Register now to leave comments, likes and more!</p>
                                        <p>Or <span class="text-success">Log in</span> if you're already have an account</p>
                                    </div>
                                    <div class="text-center pb-3 pe-2">

                                        <button @onclick="OnRegisterSubmit"
                                                class="btn btn-outline-dark btn-sm text-nowrap mx-1"
                                                asp-formaction="Block" name="Block"
                                                type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                            <i class="bi bi-person-fill-add"></i> Register
                                        </button>

                                        <button @onclick="OnLoginSubmit"
                                                class="btn btn-outline-success btn-sm text-nowrap mx-1"
                                                asp-formaction="Block" name="Block"
                                                type="submit" value="true" style="box-shadow: rgba(0,0,0,0.19) 0px 5px 10px, rgba(0,0,0,0.23) 0px 3px 3px;">
                                            <span class="bi bi-person-fill" aria-hidden="true" /> Log in
                                        </button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        }
    </div>
}