@page "/item-details/{id:int}"

@inject ApplicationDbContext adc


@if (_itemDetails is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>@_itemDetails.Name</PageTitle>
    <!--Page banner-->
    <div class="hero-bg" style="@($"--bg-img: url({_itemDetails.ImageLink})")">
        <div class="hero-container">
            <div class="container-xxl d-flex flex-column flex-md-row">
                <!--Item content here-->
                <div class="flex-grow-1 d-flex align-items-center
                    justify-content-center justify-content-md-end">
                    <div class="title-container text-center text-md-end">
                        <h1 class="text-light">@_itemDetails.Name</h1>
                        <h2 class="text-black">@_itemDetails.Author</h2>
                        @if (_itemDetails.Likes.Count == 0 )
                        {
                            <span class="badge me-2 text-bg-light">
                                No likes so far...
                            </span>
                        }

                        <span class="badge me-2 text-bg-dark">@_itemDetails.Collection.Theme.Name</span>
                        <span class="badge me-2 text-bg-success">
                            <i class="bi bi-hand-thumbs-up"></i> @_itemDetails.Likes.Count
                        </span>
                        <div class="item-links">
                            <div class="d-flex justify-content-center
                                justify-content-md-end p-3">
                                @if (!string.IsNullOrEmpty(_itemDetails.ImageLink))
                                {
                                    <div class="text-center px-2">
                                        <a href="@_itemDetails.ImageLink"
                                           target="_blank" class="btn
                                            btn-outline-light rounded-pill">
                                            Website
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-last order-md-first d-flex
                    justify-content-center">
                    <div class="poster-container">
                        @if (string.IsNullOrEmpty(_itemDetails.ImageLink))
                        {
                            <img src="https://th.bing.com/th/id/OIG.gq_uOPPdJc81e_v0XAei"
                                 alt="item poster" />
                        }
                        else
                        {
                            <img src="@_itemDetails.ImageLink"
                                 alt="item poster" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="overview d-flex flex-column">
            <p>@_itemDetails.Author</p>
        </div>
        <AuthorizeView>
            <div class="comment-overview d-flex flex-column flex-lg-col
                        justify-content-between my-3">
                @if (_itemDetails.Comments.Count != 0)
                {
                    <div class="comment-container pb-3">
                        @if (_itemsBunch is not null)
                        {
                            @foreach (Comment item in _comments)
                            {
                                <div class="row row-cols-8 row-cols-lg-8
                                            row-cols-x1-5 g-3
                                justify-content-center my-1">
                                    <CommentCard Comment="item" />
                                </div>
                            }

                            <div class="row row-cols-8 row-cols-lg-8
                                        row-cols-x1-5 g-3
                                        justify-content-center my-1">
                                <div class="card h-100 fade-in"
                                     style="max-height: 100%; max-width: 95%;">
                                    <div class="card-body border-top bg-light">
                                        <textarea class="form-control"
                                                  placeholder="Enter your comment..."
                                                  aria-label="With textarea">
                                                    </textarea>
                                    </div>
                                    <div class="card-footer text-end">
                                        <a class="btn btn-primary" href="/">
                                            Comment
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            for (int i = 0; i < 10; i++)
                            {
                                <div class="row">
                                    <CommentCard />
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </AuthorizeView>
    </div>
}