@page "/item-details/{id:int}"
@using Collections.Components.TestData

@if (itemDetails is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>@itemDetails.Name</PageTitle>
    <!--Page banner-->
    <div class="hero-bg" style="@($"--bg-img: url({itemDetails.ImageLink})")">
        <div class="hero-container">
            <div class="container-xxl d-flex flex-column flex-md-row">
                <!--Item content here-->
                <div class="flex-grow-1 d-flex align-items-center
                    justify-content-center justify-content-md-end">
                    <div class="title-container text-center text-md-end">
                        <h1 class="text-light">@itemDetails.Name</h1>
                        <h2 class="text-black">@itemDetails.Author</h2>
                        @if (itemDetails.Likes is null)
                        {
                            <span class="badge me-2 text-bg-light">
                                No likes so far...
                            </span>
                        }
                        @{
                            var runtime = itemDetails.Collection;
                            var rating = itemDetails.Id;
                        }
                        <span class="badge me-2 text-bg-dark">@runtime</span>
                        <span class="badge me-2 text-bg-success">
                            @rating <i class="bi bi-stars"></i>
                        </span>
                        <div class="item-links">
                            <div class="d-flex justify-content-center
                                justify-content-md-end p-3">
                                @if (!string.IsNullOrEmpty(itemDetails.ImageLink))
                                {
                                    <div class="text-center px-2">
                                        <a href="@itemDetails.ImageLink"
                                           target="_blank" class="btn
                                            btn-outline-light rounded-pill">
                                            Website
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-last order-md-first d-flex
                    justify-content-center">
                    <div class="poster-container">
                        @if (string.IsNullOrEmpty(itemDetails.ImageLink))
                        {
                            <img src="https://th.bing.com/th/id/OIG.gq_uOPPdJc81e_v0XAei"
                                 alt="item poster" />
                        }
                        else
                        {
                            <img src="@itemDetails.ImageLink" alt="item poster" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xxl">
        <div class="overview d-flex flex-column">
            <p>@itemDetails.Author</p>
            @if (itemDetails.TagIds.Any())
            {
                <div>
                    Tags: @string.Join(", ", itemDetails.TagIds)
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Item? itemDetails;
    private List<Item>? itemsBunch;

    public Item CreateData()
    {
        DataGenerator dg = new("en");
        itemsBunch = dg.GenerateItems(500, 123);
        return itemsBunch.Where((x) => x.Id == Id).First();
    }

    protected override async Task OnInitializedAsync()
    {
        CreateData();
        itemDetails = await Task.Run(() => CreateData());
    }
}
