@page "/search/"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Collections.Models
@inject ProtectedLocalStorage ProtectedLocalStore
@inject IDbContextFactory<ApplicationDbContext> _contextFactory
@inject NavigationManager _navigationManager

@rendermode InteractiveServer

<div class="container-xxl py-3 ">

<h3 class="text-center pb-3">Search results: @totalCountUnique</h3>
    @if (Collections is not null)
    {
        <div class="d-flex justify-content-center">
            <table class="table table-sm table-hover table-striped table-bordered
                              rounded-2 overflow-hidden" style="box-shadow: rgba(0,0,0,0.19) 0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px;">
                <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int j = 1;
                        foreach (Collection collection in Collections)
                        {
                            <tr>
                                <th>@(j++)</th>
                                <td>@collection.Name</td>
                                <td>Collection</td>
                                <td>
                                    <a class="btn-sm btn-outline-secondary"
                                       href="/collection-details/@collection.Id">Details</a>
                                </td>
                            </tr>
                        }

                        foreach (Item item in Items)
                        {
                            <tr>
                                <th>@(j++)</th>
                                <td>@item.Name</td>
                                <td>Item</td>
                                <td>
                                    <a class="btn-sm btn-outline-secondary"
                                       href="/item-details/@item.CollectionId/@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>