@page "/search/"
@using Collections.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager
@inject IStringLocalizer<Resource> localizer
@inject ProtectedLocalStorage ProtectedLocalStore
@inject IDbContextFactory<ApplicationDbContext> _contextFactory

@rendermode InteractiveServer

<PageTitle>
    @localizer["Search"]
</PageTitle>
<div class="container-xxl py-3 ">
    <h3 class="text-center pb-3">
        @localizer["Search results"]: @totalCountUnique
    </h3>

    @if (!string.IsNullOrWhiteSpace(searchQuery))
    {
        <h5 class="text-center pb-3">
            @localizer["for query"]: @searchQuery
        </h5>
    }
    else
    {
        <h5 class="text-center pb-3">
            @localizer["Use input field in navigation menu to perform a search request"]
        </h5>
    }

    @if (collections is not null && !string.IsNullOrWhiteSpace(searchQuery))
    {
        <div class="d-flex justify-content-center">
            <table class="table table-sm table-hover table-striped
                          rounded-2 overflow-hidden">
                <thead class="table-secondary">
                    <tr>
                        <th class="text-end px-2">
                            @localizer["#"]
                        </th>
                        <th class="px-2">@localizer["Name"]</th>
                        <th class="px-2">@localizer["Type"]</th>
                        <th class="px-2">@localizer["Link"]</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int j = 1;
                        foreach (Collection collection in collections)
                        {
                            <tr>
                                <td class="text-end px-2">@(j++)</td>
                                <td class="px-2">@collection.Name</td>
                                <td class="px-2">
                                    @localizer["Collection"]
                                </td>
                                <td class="px-2">
                                    <a class="btn-sm btn-outline-secondary"
                                       href="/collection-details/@collection.Id">
                                        @localizer["Details"]
                                    </a>
                                </td>
                            </tr>
                        }

                        foreach (Item item in items)
                        {
                            <tr>
                                <td class="text-end px-2">@(j++)</td>
                                <td class="px-2">@item.Name</td>
                                <td class="px-2">@localizer["Item"]</td>
                                <td class="px-2">
                                    <a class="btn-sm btn-outline-secondary"
                                       href="/item-details/@item.CollectionId/@item.Id">
                                        @localizer["Details"]
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>