@inject IStringLocalizer<Resource> localizer
@inject IConfiguration _configuration

<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center
                    align-items-center g-3">
            <div class="col text-md-start order-last order-md-first">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">@localizer["Built By:"]</span>
                    </div>
                    <div class="col-12">
                        &copy; 2024 Ivan Girsov
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <i class="bi bi-stack main-pic"
                   style="font-size: 3rem !important;"></i>
                <div class="d-flex align-items-center justify-content-center
                            flex-wrap gap-1">
                    @localizer["Powered by"] Blazor
                    <img src="/favicon.png" height="20" />
                </div>
            </div>
            <div class="col text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="@youtubeLink"><i class="bg bi-youtube" /></a>
                        <a href="@telegramLink"><i class="bg bi-telegram" /></a>
                        <a href="@githubLink"><i class="bg bi-github" /></a>
                        <a href="@linkedinLink"><i class="bg bi-linkedin" /></a>
                    </div>
                    <div class="col-12">
                        <a href="@portfolioLink">@localizer["Portfolio"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    private string githubLink = string.Empty;
    private string youtubeLink = string.Empty;
    private string telegramLink = string.Empty;
    private string linkedinLink = string.Empty;
    private string portfolioLink = string.Empty;

    protected override void OnInitialized()
    {
        githubLink = _configuration
        .GetValue<string>("GithubLink") ?? string.Empty;
        youtubeLink = _configuration
        .GetValue<string>("YoutubeLink") ?? string.Empty;
        telegramLink = _configuration
        .GetValue<string>("TelegramLink") ?? string.Empty;
        linkedinLink = _configuration
        .GetValue<string>("LinkedinLink") ?? string.Empty;
        portfolioLink = _configuration
        .GetValue<string>("PortfolioLink") ?? string.Empty;
    }

}
