@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject SignInManager<ApplicationUser> _SignInManager
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject NavigationManager _navigationManager
@inject IDbContextFactory<ApplicationDbContext> _contextFactory
@inject IStringLocalizer<Resource> localizer

@rendermode InteractiveServer

@if (Item is not null)
{
    <a href="/item-details/@Collection!.Id/@Item.Id">
        <div class="card main-card bg-text h-100 card-container
                    item-card-container">
            @if (!string.IsNullOrWhiteSpace(@Item.ImageLink))
            {
                <img class="card-img-top" alt="Collection Item"
                     src="@Item.ImageLink" />
            }

            <div class="card-img-overlay">
                <h5 class="card-title">@Item.Name</h5>
                <p class="card-text">
                    <small>
                        @localizer["Created"]
                        : @Item.CreationDateTime.ToLocalTime()
                    </small>
                </p>
                @foreach (var item in Item.StringFields)
                {
                    <div class="row g-3 align-items-center">
                        <p class="card-text">
                            <small>
                                @(item.Name): @item.Value
                            </small>
                        </p>
                    </div>
                }

                @foreach (var item in Item.DateFields)
                {
                    <div class="row g-3 align-items-center">
                        <p class="card-text">
                            <small>
                                @(item.Name): @item.Value
                            </small>
                        </p>
                    </div>
                }

            </div>
        </div>
    </a>
}
else
{
    <div class="card main-card h-100">
        <img class="card-img-top" alt="Collection Item" />
        <div class="card-body border-top bg-light">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-8"></span>
            </p>
        </div>
    </div>
}

@code {
    [Parameter]
    public Item? Item { get; set; }

    [Parameter]
    public Collection? Collection { get; set; }

    private string GetAuthor(Collection collection)
    {
        using var adc = _contextFactory.CreateDbContext();
        return adc.Users.First(x =>
            x.Id == collection.ApplicationUserId).FullName;
    }
}
